html, body, h1, h2, div, td, th {
    font-family: San Francisco, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
}

table { 
    border-spacing: 0;
}

table, td, th, tr, tbody, thead {
    padding: 0;
    margin: 0;
}

div.page {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
}

h1, h2 {
    margin: 0em 0 0.25em 0;
    padding: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

div.instructions {
    margin: 0.25em 0 0.5em;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #339;
}

div.static {
    margin: 0.75em 0;
}

div.table td, div.table th {
    padding: 0.5em;
}

div.table table {
    margin-top: 0.5em;
    border: 1px solid #ccc;
}

div.table td:nth-child(1) {
    padding-right: 1em;
}

div.table thead tr {
    background: #ddd;
}

div.table tbody tr:nth-child(even) {
    background: #eee;
}

div.table tbody input {
    width: 95%;
}

textarea {
    width: 100%;
}

#gpsStatus {
    position: absolute;
    right: 0.5em;
    font-size: 11pt;
    color: #999;
}

#gpsStatus.ok {
    color: #9c9;
}

#gpsStatus.error {
    color: #f99;
}

.question {
    background: #eee;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 3px solid #e3e3e3;
    position: relative;
}

.question.skipped * {
    opacity: 0.5;
}

.question.skipped a.skip {
    opacity: 1.0;
    color: #999;
}

.question a.skip {
    position: absolute;
    top: 0.5em;
    right: 1em;
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
}

.question.level2 {
    margin-left: 2em;
}

.question.level3 {
    margin-left: 4em;
}

.question.level4 {
    margin-left: 6em;
}

#createUser {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    background: white;
    padding: 5%;
}

#createUser input[type=number] {
    -webkit-text-security: disc;
}

#createUser label {
    display: block;
    margin-bottom: 0.25em;
}

#createUser input {
    margin-bottom: 1em;
    width: 95%;
}

#userPicker a {
    display: block;
    margin: 0.25em 0;
}