html, body, h1, h2, div {
    font-family: San Francisco, Helvetica Neue, Helvetica, sans-serif;
}

div.page {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
}

h1, h2 {
    margin: 0.75em 0 0.25em 0;
    padding: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

div.static {
    margin: 0.75em 0;
}